
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="text-center">
<h1>Acesso Negado</h1>

       
      <img src="~/Image/Proibido.jpg" class="mx-auto d-block" alt="Imagem responsiva">
    </div>
  </div>

</div>

