@{
    ViewData["Title"] = "Ferramentas";
}


<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">
            Ferramentas
        </h1>
        <p class="apresentacao__conteudo__texto">
            Disponibilizamos ferramentas práticas para auxiliar na gestão financeira.

        </p>

               <a class="apresentacao__links__link" href="@Url.Action("OpenExternalLink", "Home")">Calculadora renda fixa</a>
       
    </section>

    <img src="~/Image/img5.png" alt="Foto inicio">
</main>

