 <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PORTAL2023</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PORTAL2023.styles.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Primeirospassos";
}
  <div class="container">
    <div class="row">

        <div class='text-justify'>
<p class="text-break">
<h1>Dicas de como iniciar a jornada de sucesso financeiro</h1>

    Uma pesquisa do Serasa Experian mostrou que o número de brasileiros inadimplentes bateu novo recorde em 2019, chegando a 63,2 milhões de pessoas. Com isso, 40,4% da população adulta do país tem dívidas negativadas e atrasadas! É para evitar essa situação que você precisa aprender como se organizar financeiramente.

A falta de controle financeiro é um dos principais motivos para a inadimplência. Sem planejamento e organização, fica mais difícil atingir os seus objetivos pessoais e desenvolver-se na carreira — e isso vale tanto para quem está no início da vida profissional quanto para já tem uma boa posição no mercado de trabalho.


faça um planejamento financeiro de curto e longo prazo;
tenha clareza de suas prioridades;
mapeie gastos e corte o desnecessário;
use aplicativos que ajudem a se organizar;
encontre novas formas de renda extra;
saiba investir seu dinheiro corretamente.
Confira mais detalhes sobre cada uma delas a seguir!

1 1. Faça um planejamento financeiro de curto e longo prazo
2 2. Tenha clareza de suas prioridades
3 3. Mapeie gastos e corte o desnecessário
4 4. Use aplicativos que ajudem a se organizar
4.1 Organizze
4.2 Minhas Economias
4.3 Mobills
5 5. Encontre novas formas de renda extra
5.1 Dar aulas particulares
5.2 Fazer um estágio
5.3 Trabalhar como freelancer
6 6. Saiba investir seu dinheiro corretamente


<h3>1. Faça um planejamento financeiro de curto e longo prazo</h3>
Estabelecer objetivos financeiros é o primeiro passo para quem quer saber como organizar as finanças. Esse planejamento é uma estratégia que permite definir metas, prazos e valores.

Para isso, divida seu planejamento em curto e em longo prazo. Primeiro, pense nas intenções que são realizáveis em até um ano, o que pode incluir fazer pequenas viagens, trocar de celular ou iniciar uma faculdade. Nesse caso, todos os valores que você puder economizar são bem-vindos para realizar os objetivos de curto prazo.

Em longo prazo, essa mesma organização deve visar projetos mais caros, como ganhar dinheiro trabalhando como autônomo, comprar um carro, adquirir a casa própria ou fazer um intercâmbio. Esse tipo de objetivo exige maior organização financeira e pode sofrer ajustes ao longo do caminho, de acordo com as novas metas.

<h3>2. Tenha clareza de suas prioridades</h3>

Na hora de gastar o seu dinheiro, comece com aquilo que é mais importante. Por isso, identificar suas prioridades financeiras facilita a organização no momento de decidir sobre o gasto ou o investimento.

Uma boa forma de identificar, definir e mensurar quais são suas prioridades financeiras é por meio de uma planilha. Essa ferramenta permite organizar seus gastos e objetivos por ordem de importância, de acordo com uma escala de 1 a 5, por exemplo.

A ideia é que você possa refletir sobre o que é mais importante, a partir de uma visão geral. Assim, você evita analisar as prioridades no momento da compra e pode controlar mais facilmente o impulso do consumo. Não deixe de atualizar a planilha sempre que um novo objetivo surgir na sua vida.

<h3>3. Mapeie gastos e corte o desnecessário</h3>

Você está sem dinheiro para a faculdade? Isso pode ser consequência dos gastos desnecessários. Para ter organização financeira, não é necessário se privar de todas as atividades e diversões fora da rotina. Basta que você limite, com antecedência, quanto tem disponível para cada área da vida.

No campo do lazer, por exemplo, é fundamental fazer os cálculos com base nas atividades que você gostaria de manter durante o mês, como praia, cinema, entre outras. O importante é definir o máximo que gastará com isso.

Desconto nota do Enem
Quando você tiver uma boa noção das suas despesas e objetivos, vai perceber que é necessário equilibrar as contas cortando o excesso de gastos. Outra dica é ligar para os serviços que você paga todos os meses, como a internet, e pedir descontos ou trocar para um pacote mais econômico. Dessa forma, será muito mais fácil ter dinheiro até o fim do mês.

<h3>4. Use aplicativos que ajudem a se organizar</h3>

Se você ainda não sabe como guardar dinheiro, que tal aproveitar a tecnologia para alcançar a estabilidade financeira? Existem muitos aplicativos que ajudam a organizar as finanças e a evitar gastos desnecessários, como compras sem planejamento. Confira algumas opções que você pode usar.

Organizze
Esse aplicativo permite o controle de despesas e de receitas, ajudando a organizar os gastos por categorias e subcategorias. Organizze tem uma interface de fácil visualização e possibilita gerenciar múltiplas contas bancárias.

Minhas Economias
Por meio desse aplicativo, é possível categorizar despesas, controlar entradas e saídas, planejar orçamentos e gerar gráficos e relatórios. Também é possível escolher objetivos, como fazer uma boa faculdade. Assim, o app indica quanto economizar por mês para conseguir realizá-los. Você também pode criar lembretes para não esquecer de pagar as contas.

Mobills
Além de gerenciar despesas e receitas, o Mobills permite controlar o cartão de crédito e os investimentos. Você pode definir um orçamento mensal máximo, e o aplicativo envia uma notificação sempre que 80% do valor tiver sido gasto.

<h3>5. Encontre novas formas de renda extra</h3>

Existem muitas maneiras de aumentar a renda e ter mais tranquilidade financeira. A principal dica aqui é analisar suas habilidades e seus talentos, além de investir nos estudos para aumentar a chance de ganhar mais. Confira o que você pode fazer.

Dar aulas particulares
Se você faz algum curso superior, pode atuar como professor particular. É possível auxiliar estudantes que têm dificuldades em alguma matéria, estão prestes a fazer o Enem ou precisam melhorar seus desempenhos na faculdade, na escola ou no cursinho.

Fazer um estágio
Estágios são ótimas formas de adquirir experiência e renda. Aqui na Anhanguera, nossos alunos têm o apoio do Canal Conecta — um portal que liga estudantes e empresas que oferecem oportunidades de trabalho em diversas áreas.

Trabalhar como freelancer
No trabalho freelancer, você pode aproveitar competências pessoais e atuar como editor de imagem, redator ou revisor de textos para blogs, jornais, revistas e outros meios de comunicação; músico, garçom, entre outras opções.

<h3>6. Saiba investir seu dinheiro corretamente</h3>

Você sabia que 65% dos brasileiros não possuem reserva financeira? A falta de disciplina e de controle dos gastos são alguns dos motivos para isso. Além disso, 64% das pessoas que conseguem economizar escolhem a poupança para guardar o dinheiro.

No entanto, existem outras formas seguras de investir que aumentam o lucro e se adaptam aos seus objetivos. Quem quer saber como se organizar financeiramente precisa conhecer algumas opções:

Tesouro Direto: são títulos públicos com baixo risco, que permitem investimentos a partir de R$ 30. O rendimento pode ser pré ou pós-fixado e apresenta opções para médio e longo prazo;
Certificados de Depósitos Bancários (CDBs): são títulos emitidos por bancos com baixo risco e rendimento pré ou pós-fixado. Existem opções para curto e longo prazo;
Fundos de Investimento: reúnem vários tipos de aplicações, separados por cotas. Um gestor administra os recursos de acordo com o alinhamento e o interesse dos investidores.
Entender como se organizar financeiramente não é tarefa fácil, mas é muito importante para quem almeja um futuro mais estável e sem dívidas. Além disso, essa organização permite que você invista cada vez mais na sua capacitação a fim de impulsionar os ganhos e gerar maior estabilidade profissional.
</h2>
</p>
 </div>
      </div>
    </div>
  </div>