@{
    ViewData["Title"] = "Sobre Nós";
}


<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">
            Sobre nós
        </h1>
        <p class="apresentacao__conteudo__texto">
            Criado com o intuito de ajudar na educação financeira, o portal surgiu diante da demanda 
            social de conteúdos e ferramentas que auxiliam  nesta questão.

       </p>
      
    </section>
    <img src="~/Image/img2.jpg" class="img-fluid" alt="Imagem responsiva">
</main>
